<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Duke - The CIJoe Manager</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/base.css" />
    <link rel="stylesheet" href="/stylesheets/custom.css" />
    <link rel="stylesheet" href="/stylesheets/button.css" />
  </head>
  <body>
    <hgroup>
      <h1>Duke</h1>
      <h2>The CIJoe Manager</h2>
    </hgroup>
    <section>
      <ul>
        <li>
          <form id="create" action="/projects" method="post">
            <input name="project[repo_url]" placeholder="Repository"/>
            <button type="submit" class="blue">Create</button>
          </form>
        </li>
        <% @projects.each do |project| %>
          <li class="project<%= status_style(project) %>">
            <% if project.running? %>
              <a class="chunky-text" href="#"><%= project.repo_dir %></a>
              <form class="stop" action="/projects/<%= project.repo_dir %>">
                <input type="hidden" name="_method" value="PUT">
                <button type="submit" class="black">Stop</button>
              </form>
              <p class="port chunky-text"><%= project.port %></p>
            <% else %>
              <p class="chunky-text"><%= project.repo_dir %></p>
              <form class="start" method="post" action="/projects/<%= project.repo_dir %>">
                <input type="hidden" name="_method" value="put">
                <button type="submit" class="blue">Start</button>
                <input name="project[port]" placeholder="Port"/>
              </form>
            <% end %>
          </li>
        <% end %>
      </ul>
    </section>
  </body>
</html>