<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Duke - The CIJoe Manager</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/font.css" />
    <link rel="stylesheet" href="/stylesheets/base.css" />
  </head>
  <body>
    <hgroup>
      <h1>Duke</h1>
      <h2>The CIJoe Manager</h2>
    </hgroup>
    <section>
      <h1>Projects</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>G50</td>
            <td>
              <p>Stopped</p>
            </td>
            <td><a href="#">Start</a></td>
          </tr>
          <tr>
            <td>Bypass</td>
            <td>
              <dl>
                <dt>URL</dt>
                <dd>http://localhost:666</dd>
                <dt>Pid</dt>
                <dd>666</dd>
                <dt>Build Status</dt>
                <dd>PASS</dd>
              </dl>
            </td>
            <td><a href="#">Stop</a></td>
          </tr>
          <tr>
            <td>Mosaic</td>
            <td>
              <dl>
                <dt>URL</dt>
                <dd>http://localhost:333</dd>
                <dt>Pid</dt>
                <dd>333</dd>
                <dt>Build Status</dt>
                <dd>FAIL</dd>
              </dl>
            </td>
            <td><a href="#">Stop</a></td>
          </tr>
        </tbody>
      </table>
    </section>
  </body>
</html>