<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Duke - The CIJoe Manager</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/base.css" />
    <link rel="stylesheet" href="/stylesheets/custom.css" />
    <link rel="stylesheet" href="/stylesheets/button.css" />
  </head>
  <body>
    <hgroup>
      <h1>Duke</h1>
      <h2>The CIJoe Manager</h2>
    </hgroup>
    <section>
      <table>
        <thead class="hidden">
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
            <tr class="normal">
              <td class="col-project-name">
                <p><%= project.name %></p>
              </td>
              <td>
                <% if project.running? %>
                  <button class="black">Stop</button>
                <% else %>
                  <button class="blue">Start</button>
                <% end %>
              </td>
            </tr>
          <% end %>
          <tr class="pass">
            <td>
              <p>✔ Bypass</p>
            </td>
            <td>
              <button class="black">Stop</button>
            </td>
          </tr>
          <tr class="fail">
            <td>
              <p>☹ Mosaic</p>
            </td>
            <td>
              <button class="black">Stop</button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </body>
</html>