/* Based on http://html5boilerplate.com */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a, a:active, a:visited {
  color: #607890;
}

a:hover {
  color: #D1FF03;
}

ul, ol {
  margin-left: 1.8em;
}

ol {
  list-style-type: decimal;
}

/* Remove margins for navigation lists */
nav ul, nav li {
  margin: 0;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

pre { 
  padding: 15px; 
  white-space: pre-line;
}

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

/* hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
 
/* webkit browsers add a 2px margin outside the chrome of form elements */  
button, input, select, textarea {
  margin: 0;
}

/* webkit browsers add a 2px margin outside the chrome of form elements */  
button::-moz-focus-inner {
  border:0;
}

/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection {
  background: #D1FF03;
  color:#000;
  text-shadow: none;
}

::selection {
  background:#D1FF03;
  color:#000;
  text-shadow: none;
}

/* 
 * Non-semantic helper classes 
 */

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
} 

.clearfix:after {
  clear: both;
}

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix {
  zoom: 1;
}

/* Fontz */

/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body {
  font:13px/1.231 sans-serif;
  *font-size:small;
  font-smooth: always;
} /* hack retained to preserve specificity <- WTF? */

select, input, textarea, button {
  font:99% sans-serif;
}