body, select, input, textarea {
  background-color: #FFF;
}

hgroup {
  background-color: #00DFFC;
  padding: 12px 0 12px 0;
  border-bottom: 2px solid #00B4CC;
}

hgroup h1, hgroup h2 {
  margin-left: auto;
  margin-right: auto;
}

hgroup h1 {
  padding-left: 326px;
}

hgroup h2 {
  padding-left: 330px;
}

hgroup h1 {
  color: #008C9E;
  font-size: 400%;
}

hgroup h2 {
  color: #343838;
}

section {
  margin-left: auto;
  margin-right: auto;
  width: 660px;
}

ul {
  width: 660px;  
  list-style: none;
  margin: 0;
}

li {
  background: #CCC;
  height: 90px;
  margin-top: 15px;
}

form {
  padding-top: 16px;
  margin: 0 20px;
  float: right;
}

input {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; 
  font-size: 200%;
  font-weight: bold;
  padding: 11px;
  text-align: center;
  float: left;
  font-style: italic;
}

.start input {
  width: 195px;
  margin-right: 20px;
}

#create input {
  width: 354px;
  margin-right: 20px;
}

.chunky-text {
  font-size: 200%;
  font-weight: bold;
  padding: 12px 0;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  display: inline;
  line-height: 90px;
  margin-left: 20px;
}

.port {
  line-height: 65px;
  float: right;
  width: 220px;
  text-align: center;
}

.fail {
  background: #DC2323;
}

.pass {
  background: #1FBD00;
}